.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(50px + 2vmin);
    padding: 50px 20px;
    letter-spacing: 5px;
    color: rgb(82, 51, 193);
    position: relative;
    min-width: 700px;
    margin-top: 10%;
}

p {
    font-size: calc(5px + 2vmin);
    color: rgb(207, 16, 64);
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text {
    color: rgba(87, 60, 241, 0.5);
    font-weight: 400;
    font-size: calc(10px + 2vmin);
    text-align: 'center';
    padding-right: 10px;
}

.arrow {
    justify-content: center;
    margin-top: 10%;
}

.arrow span {
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 2px solid #e8457e;
    border-right:2px solid #f57aa5;
    transform: rotate(45deg);
    animation: scroll 2.5s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -.4s;
}

@keyframes scroll {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-30px, -30px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(-30px, -30px);
    }
}