.App {
  text-align: center;
  min-height: 100vh;
  background-color: #fcfafc;
  letter-spacing: 3px;
}

h1 {
  color: rgba(87, 60, 241, 0.5);
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}