* {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
}
:root {
    --mainbg: #060629; /*default blue theme*/
    --accent1: #ffb000;
    --links: #8e8ee7;
    --text1: white;
    --text2: #060629;
}
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Josefin Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 0;
    margin-top: 0;
    background-color: #ffffff;
}
@keyframes example {
    0% {color: #9090d3;}
    20% {color: #414b85;}
    70% {color: #072921;}
    100% {color: #060629;}
    from {top: -500px;}
    to {top: 0px;}
}
@keyframes back {
    0% {background-color: #9090d3;}
    20% {background-color: #414b85;}
    70% {background-color: #072921;}
    100% {background-color: #060629;}
}
@keyframes back2 {
    0% {background-color: #9090d3;}
    20% {background-color: #414b85;}
    70% {background-color: #072921;}
    100% {background-color: #272755;}
}
header {
    background-color: #060629;
    /*background-color: #04221d;*/
    margin-top: 0px;
    margin-right: 0px;
    text-align: left;
    padding: 0px;
    position: fixed;
    width: 100%;
    animation-name: back;
    animation-duration: 4s;
}
h1 {
    margin-top: 0px;
}
nav ul .logo {
    background-image: url("../Images/newlogo.png");
    background-size: 40px;
    display: inline-block;
    height: 40px;
    width: 40px;
    top: -11px;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px;
    position: relative;
    text-indent: -9999999px;
}
nav ul li {
    display: inline-block;
    background-color: none;
    padding: 24px 10px;
    position: relative;
    color: white;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
nav ul li a:hover {
    color: #ffb000;
    text-decoration: none;
}
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #547bcecc;
    padding: 10px 0px;
    margin-top: 24px; /*margin-top: 24px;*/
    margin-left: -22px;
    border-radius: 4px 4px 4px 4px;
}
nav ul li:hover ul {
    display: block; /* change to display: block when links are added */
}
nav ul li ul li {
    width: 170px;
    padding-top: 15px;
}
nav ul li ul li:first-child {
    padding-top: 2px;
}
nav ul li ul li a {
    padding: 10px 15px;
    text-decoration: none;
}
nav ul li ul li a:hover {
    background-color: #547bcecc;
}
.intro {
    background-image: url(../Images/leaves2.jpg);
    /*background-image: url(../Images/leaves.jpg);*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /*color: rgb(236, 217, 176);*/
    color: #060629;
    text-align: center;
    padding: 300px;
}
.desktop {
    display: inline-block;
}
.mobile {
    display: none;
}
@media screen and (max-width: 1022px) {
    .intro {
        background-size: cover;
        height: 400px;
    }
}

@media screen and (max-width: 690px) {
    .mobile {
        display: inline-block;
    }
    .desktop {
        display: none;
    }
    .intro div {
        display: none;
    }
    .row {
        display: inline-block;
    }
}
.intro div {
    display: inline-block;
    /*background-color: rgb(11, 59, 51, 0.9);*/
    background-color: rgba(77, 110, 201, 0.76);
    padding: 20px;
    border: 5px ridge rgba(137, 147, 175, 0.76);
    color: #060629;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-timing-function: ease;
}
.intro div h1 {
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 100%;
    font-size: 50px;
    text-transform: Uppercase;
    letter-spacing: 5px;
}
button {
    display: block;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #0a3838;
    color: white;
    font-size: 12px;
    background-color: #153d3a;
    font-family: 'Josefin Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.new-section {
    background-color: rgb(28, 46, 97);
    /*background-color: rgb(209, 62, 4);*/
    color: white;
    text-align: center;
}
.new-section h1 {
    padding: 30px;
    text-transform: uppercase;
}
.features {
    background-color: #060629;
    /*background-color: #04221d;*/
    color: rgb(214, 214, 238);
    padding: 20px;
    margin: auto;
    text-align: center;
    animation-name: back;
    animation-duration: 4s;
}
.features img {
    width: 200px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 1px solid rgb(0, 28, 155);
    box-shadow: gray 0px 0px 8px;
}
.features p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    display: block;
    padding: 5px 100px 5px 100px;
    text-align: center;
    width: 300px;
    line-height: 20px;
}
.gallery {
    background-color: #272755;
    /*background-color: #04221d; for green theme*/
    color: rgb(214, 214, 238);
    padding: 20px;
    margin: auto;
    text-align: center;
    animation-name: back2;
    animation-duration: 4s;
}
.gallery h1 {
    color: #ffb000;
}
.row {
    margin: 5%;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
.column {
    flex: 20%;
    padding: 0 4px;
    margin: 1%;
}
.column img {
    margin-top: 8px;
    padding: 8px;
    border: 2px double #9c9cc5;
    vertical-align: middle;
    max-width: 70%;
    max-height: 70%;
}
.column h1 {
    margin: 2%;
}
.column p {
    line-height: 25px;
}
/* Summary Chart */
.column {
    flex: 20%;
    padding: 0 4px;
    margin: 1%;
}
.column img {
    margin-top: 8px;
    padding: 8px;
    border: 2px double #9c9cc5;
    vertical-align: middle;
    max-width: 70%;
    max-height: 70%;
}
.column h4 {
    margin-bottom: 10%;
    color: #8e8ee7;
}
.column ul li {
    margin-bottom: 7%;
    text-align: left;
}
.column ul li ul {
    list-style: none;
    margin-left: 10%;
    font-size: 12px;
}
.summary h1 {
    margin: 2%;
    color: #ffb000;
}
.summary p {
    line-height: 25px;
}

/* PODCAST BLOCK */

.podcast {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: white;
}
.podcast div {
    margin: auto;
}
.podcast ul {
    list-style: none;
}
.podcast ul li {
    display: inline-block;
    position: relative;
    width: 150px;
}
.podcast ul li ul {
    display: block;
    position: absolute;
    width: 100px;
}
.podcast p {
    padding: 10px;
    text-align: justify;
    width: 500px;
    line-height: 25px;
}
footer {
    text-align: center;
    background-color: rgba(147, 167, 175, 0.815);
    line-height: 30px;
    font-size: 10px;
}
a {
    text-decoration: none;
    color: #8e8ee7;
    font-weight: bold;
    padding: 10px;
}
a:hover {
    text-decoration: underline;
    padding: 10px 10px;
    color: #ffb000;
}
footer a {
    color: black; 
    font-weight: normal; 
    text-decoration: underline; 
    padding: 0
}
.mobile a:hover {
    display: block
}
.mySlides {
    display: none
}
.mySlides2 {
    display: none
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #9c9cc5;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot2 {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #9c9cc5;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #ffb000;
}
  
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}