.projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-wrap: normal;
}

.section {
    width: 50%;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
    font-weight: 200;
}

.section1 {
    width: 50%;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
    font-weight: 200;
}

.divider {
    height: 100px;
}

h1 {
    color: rgb(231, 56, 50);
    letter-spacing: 5px;
    font-weight:200;
}

h2 {
    color: rgba(87, 60, 241, 0.5);
    letter-spacing: 5px;
    margin: 0;
}

h3 {
    margin-left: 20px;
    font-style: italic;
    font-size: 16px;
}

.section1:hover {
    background-color: rgb(185, 131, 255,0.1);
    border-radius: 20px;
    cursor: pointer;
}

li {
    padding: 10px;
    line-height: 1.5;
    letter-spacing: 3px;
}

/* .projects {
    align-items: center;
    overflow-y: hidden;
    margin-top: 150px;
}

.section {
    height: 20%;
    width: 50%;
    box-shadow: 100%;
} */